.HoursAdder {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    height: 60%;
    background-color: aliceblue;
    padding: 8px;
    border-radius: 10px;
}

.PayEmployeesContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 80%;
    background-color: aliceblue;
    padding: 8px;
    border-radius: 10px;
}

.StickyFooterContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.CompositeTitleHeaderContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.WorkingViewContainer {
    display: flex;
    justify-content: center;
    height: 100%;
}

.ManagerMainViewAuthSelection {
    margin-top: 20%;
    background-color: aliceblue;
    height: min-content;
    padding: 16px;
    border-radius: 10px;
}

.ManagerMainOptions {
    display: flex;
    margin-top: 20%;
}

.ManagerAddIngridentContainer {
    margin-top: 20%;
    background-color: aliceblue;
    height: min-content;
    padding: 16px;
    border-radius: 10px;
}

.ManagerBuyIngredientsContainer {
    margin-top: 10%;
    background-color: aliceblue;
    padding: 16px;
    border-radius: 10px;
}

.DrinkCardMedia {
    /* padding: 5.25%;*/
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.GridContainer {
    height: 70vh;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.DrinkRemovalContainer {
    margin-top: 20%;
    background-color: aliceblue;
    height: min-content;
    padding: 16px;
    border-radius: 10px;
}

.NewDrinkIngridentScroller {
    max-height: 150px;
    overflow-y: scroll;
}

.DrinkAdderContainer {
    margin-top: 0%;
    background-color: aliceblue;
    height: min-content;
    padding: 16px;
    border-radius: 10px;
}

