.Menu {
    border-radius: 2%;
    background-color: aliceblue;
    padding: 16px;
    margin: 2%;
    flex-grow: 1;
}
.DrinkCard  {
    height: 100%;
}

.DrinkCardMedia {
    border-radius: 100%;
    justify-content: center;
    align-items: center;
}

.CustomerOrderBox {
    width: 75%;
    background-color: aliceblue;
    padding: 16px;
    margin: 2%;
    border-radius: 2%;
}

.IngredientForm {
    width: 100%;
}