.GridContainer {
    height: 70vh;
    border-style: solid;
    display: flex;
    flex-wrap: wrap;
    overflow: auto;
    justify-content: center;
    align-items: center;
}
/* 
.GridItem {
    box-shadow: 0 8px 40px  rgba(0,0,0,0.3);
}

.GridItem:hover {
    box-shadow:  0 16px 70px  rgba(0,0,0,0.3);
} */